<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisualOdometry.OdometerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="VisualOdometry.OpticalFlow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisualOdometry.OdometerSettings>
            <setting name="GroundRegionTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SkyRegionBottom" serializeAs="String">
                <value>150</value>
            </setting>
        </VisualOdometry.OdometerSettings>
        <VisualOdometry.OpticalFlow>
            <setting name="MaxFeatureCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="QualityLevel" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MinDistance" serializeAs="String">
                <value>10</value>
            </setting>
        </VisualOdometry.OpticalFlow>
    </userSettings>
</configuration>